/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
body {
	margin: 0;
	font-family: 'Roboto', Arial, sans-serif;
	background: #f5f6fa;
}
